[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-community = "*"
faiss-cpu = "*"
pypdf = "*"
streamlit = "*"
langchain-huggingface = "*"

[dev-packages]
langchain-huggingface = "*"
torch = "*"
streamlit = "*"

[requires]
python_version = "3.12"
